<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <item view="EmailTemplate.list"
          title="msg://net.uich.mailcampaign.view.emailtemplate/emailTemplateListView.title"/>
    <item view="Campaign.list" title="msg://net.uich.mailcampaign.view.campaign/campaignListView.title"/>
    <item view="Lead.list" title="msg://net.uich.mailcampaign.view.lead/leadListView.title"/>

    <menu id="application" title="msg://net.uich.mailcampaign/menu.application.title" opened="true">
        <item view="User.list" title="msg://net.uich.mailcampaign.view.user/UserListView.title"/>
    </menu>

</menu-config>